h2 {
	font-size: 2.8em; color: #ff0066; padding-right: 1em; padding-top: 1em; padding-bottom: 1em; line-height: 1.3em;
}


h2 {
	font-family: 'Lekton', sans-serif;
	font-weight: bold;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #ff0066;
}

h3 {
	font-family: 'Lekton', sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	color:  #1ac6ff;
	padding-right: 1em; padding-top: 1.2em; padding-bottom: 0em
}

body {font-family: 'Lora', serif; font-size: 1.2em;
	padding-left: 4em; padding-right: 1em; padding-top: 1em; padding-bottom: 1em; color: #black; line-height: 1.4em;
}


p {
	padding-left: 4em; padding-right: 1em; padding-top: 1em; padding-bottom: 1em;
}

body {
	background-color: white
}
